/autoware-1.12.0/devel
/autoware-1.12.0/build
/autoware-1.12.0/install
/autoware-1.12.0/log
/autoware-1.12.0/.vscode
/autoware-1.12.0/.catkin_workspace

/autoware-1.14.0/devel
/autoware-1.14.0/build
/autoware-1.14.0/install
/autoware-1.14.0/log
/autoware-1.14.0/.vscode
/autoware-1.14.0/.catkin_workspace
